@import url("https://fonts.googleapis.com/css?family=Cabin:600|Montserrat|Roboto+Slab|Special+Elite|Vollkorn");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.horizontal-collapse {
  height: 70px; }

.navbar-collapse.in {
  overflow-y: hidden; }

.grey-box {
  background-color: #f2f2f2;
  height: 20vh; }

.image-container {
  align-self: center;
  overflow-y: hidden;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 28vh; }

.left-image {
  background-position: 36%; }

.right-image {
  background-position: 50%; }

.main-intro {
  height: 30vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }
  .main-intro p {
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    padding-top: 6vh; }

.image-wrapper {
  height: 60vh; }

.main-beach {
  height: 86vh;
  background-image: url("../../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .main-beach .beach-mockup {
    position: absolute; }
    @media (min-width: 640px) {
      .main-beach .beach-mockup img {
        height: 60vh; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .main-beach .beach-mockup img {
        height: 70vh; } }
  .main-beach h1 {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    padding-top: 10vh;
    padding-left: 7vh; }
  .main-beach h2 {
    font-family: "Roboto Slab", serif; }

.second-beach {
  font-family: "Cabin", sans-serif;
  font-size: 24px; }

.description-container {
  height: 60vh; }

.description {
  padding-top: 13vh; }
  .description h1 {
    font-size: 36px;
    font-family: "Special Elite", cursive;
    color: #EB9971;
    margin-left: 2vw; }
  .description p {
    font-size: 16px;
    margin-left: 2vw;
    font-family: "Cabin", sans-serif;
    color: #333; }

.restaurant-image {
  background-image: url("../../images/beach_restaurant.png"); }

.maps-image {
  background-image: url("../../images/beach_map.png"); }

.shopping-image {
  background-image: url("../../images/beach_shopping.png"); }

.deals-image {
  background-image: url("../../images/beach_deals.png"); }

.events-image {
  background-image: url("../../images/beach_events.png"); }

.activities-image {
  background-image: url("../../images/beach_activities.png"); }
