@import url("https://fonts.googleapis.com/css?family=Cabin:600|Montserrat|Roboto+Slab|Special+Elite|Vollkorn");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.horizontal-collapse {
  height: 70px; }

.navbar-collapse.in {
  overflow-y: hidden; }

/*animation */
/* fade in */
/*main styles for flex */
